.accordion{
  margin-top: 3rem;
}

.accordion .item{
  width: 100%;
  margin: 1rem 0;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #AAA;
  position: relative;
}

.accordion .item h4{
  padding: 0 4rem 0 2rem;
  text-transform: uppercase;
}

.accordion .item:after{
  content: '';
  width: 1.2rem;
  height: 0.8rem;
  top: 1.7rem;
  right: 2rem;
  position: absolute;
  background-image: url(/static/img/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: all 0.5s;
}

.accordion .item.active:after{
  content: '';
  background-image: url(/static/img/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-180deg);
  transition: all 0.2s;
}

.accordion .item .expand{
  display: none;
  overflow: hidden;
  padding-bottom: 2rem;
  padding: 0 2rem 2rem;
}

.accordion .item.active .expand{
  height: auto;
  display: block;
}
