.event {
  position: relative;
  margin-bottom: 2rem;
  width: calc(50% - 5rem);
  clear: both;
  margin-top: -5rem;
  /* border: 1px solid white; */
}

.event h4 {
  margin: 0;
}

.event:nth-child(odd):after,
.event:nth-child(even):after,
.event:nth-child(odd) h4:after,
.event:nth-child(even) h4:after {
  content: '';
  position: absolute;
  display: block;
}

.event h4:after {
  width: 1px;
  height: 1px;
  background: #aaa;
  top: 0.6rem;
  transition: all 0.4s;
}

.event.active h4:after {
  width: 4rem;
}

.event:nth-child(odd) h4:after {
  right: 0;
}

.event:nth-child(even) h4:after {
  left: 0;
}

.event:nth-child(odd) {
  float: left;
  text-align: right !important;
  padding-right: 5rem;
}

.event:nth-child(even) {
  float: right;
  text-align: left;
  padding-left: 5rem;
}

.event:after,
.event h4,
.event p {
  transition: all 0.4s;
  opacity: 0;
}

.event.active:after,
.event.active h4,
.event.active p {
  opacity: 1;
}

.event:after {
  width: 10px;
  height: 10px;
  border: 1px solid #aaa;
  background: #1d1e20;
  border-radius: 100%;
  top: 0.3rem;
}

.event:nth-child(odd):after {
  right: -0.4rem;
}

.event:nth-child(even):after {
  left: -0.4rem;
}

.event.now {
  width: 50%;
  text-align: center !important;
  margin: 4rem auto 0;
  float: none;
  padding: 0;
}

.event.now:after,
.event.now h4:after {
  left: 0;
  right: 0;
  margin: auto;
  top: -5rem;
}

.event.now h4:after {
  height: 1px;
  width: 1px;
  transition: all 0.4s;
}

.event.now.active h4:after {
  height: 4rem;
}

@media screen and (max-width: 670px) {
  .event:nth-child(odd),
  .event:nth-child(even) {
    float: right;
    text-align: left !important;
    padding-left: 5rem;
    padding-right: 0;
    margin-top: 2rem;
    width: calc(100% - 4.7rem);
  }

  .event:after,
  .event.now:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: #1d1e20;
    border-radius: 100%;
    top: 0.3rem;
    left: 0 !important;
    right: inherit;
    position: absolute;
    display: block;
  }

  .event h4:after,
  .event.now h4:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 1px !important;
    background: #fff;
    top: 0.6rem;
    left: 0 !important;
    right: inherit;
  }

  .event.active h4:after,
  .event.now.active h4:after {
    width: 4rem;
  }
}
