.top{
  width: 95%;
  text-align: center;
  margin: auto;
  position: relative;
}

.top .logo{
  height: 3rem;
  width: 3rem;
  border: 1px solid #AAA;
  border-radius: 100%;
  margin: auto;
}

.top .logo img{
  height: 1rem;
  margin-top: 1rem;
}

.top .logo:before,
.top .logo:after{
  content: '';
  width: calc(100% / 2 - 4rem);
  margin-top: 1.4rem;
  position: absolute;
  height: 1px;
  background: #AAA;
}

.top .logo:before{
  left: 0;
}

.top .logo:after{
  right: 0;
}

.footer{
  margin-top: 10rem;
}

.footer .large{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0;
}

.footer .column{
  width: auto;
}

.footer .map a{
  display: block;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: #EEE;
}

@media screen and (max-width: 1520px){
  .footer .large{
    padding: 2rem;
  }
}

@media screen and (max-width: 1050px){
  .footer{
    margin-top: 7rem;
  }
}

@media screen and (max-width: 900px){
  .footer .column:first-child{
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    display: block;
  }

  .footer .column img{
    max-width: 10rem;
  }
}

@media screen and (max-width: 670px){
  .footer .column{
    width: 100%;
    text-align: center;
    display: block;
  }
}
