.right ul.icons {
  margin-top: -5rem;
}

ul.icons li {
  margin-bottom: 4rem;
}

ul.icons li img {
  margin-top: 0;
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.2;
  margin-bottom: 2rem;
  display: block;
}

ul.icons li:before {
  margin-top: 5.25rem;
}

@media screen and (max-width: 670px) {
  .left ul.icons {
    margin-top: 2rem;
  }

  .right ul.icons {
    margin-top: 0;
  }
}
