.title{
  position: relative;
}

.title .small{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 670px){
  .title .small{
    top: 1.2rem;
  }
}
