.title{
  position: relative;
}

.title .small{
  position: absolute;
  bottom: 2rem;
  right: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 1400px){
  .large.title{
    padding: 0 0 0 2rem;
    overflow: hidden;
  }
}

@media screen and (max-width: 670px){
  .title .small{
    top: 1.2rem;
  }
}
