.opener {
  position: relative;
}

.opener,
.opener img,
.opener .overlay {
  height: 100%;
  width: 100%;
}

.opener .cover.hide {
  display: none;
}

/* .opener .float{
  position: absolute;
  width: 60%;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

.opener .float h3{
  font-size: 1.2rem;
}

.opener .float h3:before{
  top: 1.4rem;
} */

.opener .large {
  position: absolute;
  z-index: 999;
  bottom: 5rem;
  right: 0;
  left: 0;
  padding-right: 2rem;
}

.opener p {
  width: 25rem;
  opacity: 0.2;
  bottom: 4rem;
  text-align: right;
}

.opener .overlay {
  z-index: 9;
  top: 0;
  background: linear-gradient(#1d1e20, transparent 35%, #1d1e20);
}

@media screen and (max-width: 800px) {
  .opener {
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .opener,
  .opener .Image {
    height: 80vw;
  }

  .opener p {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: -6rem;
  }
}

/* @media screen and (max-width: 900px) {
  .opener,
  .opener img,
  .opener .overlay {
    height: 80vw;
  }

  .opener .cover {
    display: none;
  }

  .opener .cover.hide {
    display: block;
  }
} */

/* @media screen and (max-width: 670px) {
  .opener {
    margin-bottom: 4rem;
  }

  .opener .large {
    bottom: 0;
    right: 0;
    left: 0;
  }

  .opener p.right {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .opener .large {
    z-index: 99;
  }
} */
