.opener{
  margin-bottom: 5rem;
  position: relative;
}

.opener,
.opener img,
.opener .overlay{
  height: 100vh;
  width: 100%;
}

.opener .large{
  position: absolute;
  z-index: 999;
  bottom: 3rem;
  right: 0;
  padding-right: 2rem;
}

.opener p{
  width: 25rem;
  opacity: 0.2;
  bottom: 4rem;
  text-align: right;
}

.opener .overlay{
  background: linear-gradient(transparent 60%, #1F1F1F 95%);
}

@media screen and (max-width: 900px){
  .opener,
  .opener img,
  .opener .overlay{
    height: 80vw;
  }
}

@media screen and (max-width: 670px){
  .opener{
    margin-bottom: 8rem;
  }

  .opener .large{
    bottom: -4rem;
    right: 0;
    left: 0;
  }

  .opener p.right{
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 500px){
  .opener .large{
    z-index: 99;
  }
}
