/* basic */

html,
body {
  margin: 0;
  background: #1d1e20;
  position: relative;
  z-index: -99;
  -webkit-font-smoothing: antialiased;
  /* overflow-x: hidden; */
}

.clear {
  clear: both;
}

/* typography */

@font-face {
  font-family: 'Garamond';
  src: url('/fonts/Garamond');
}

h1 {
  font-family: 'eloquent-jf-pro';
  font-size: 18rem;
  font-weight: 400;
  line-height: 24rem;
  color: rgba(0, 0, 0, 0.12);
  margin: 0;
  height: 18rem;
}

h2 {
  width: 50%;
  font-family: 'Garamond';
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 2rem;
  margin: 0;
  border-bottom: 1px solid #aaa;
}

h3 {
  max-width: 20rem;
  font-family: 'sofia-pro';
  font-weight: 100;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 6rem;
  margin-bottom: 2rem;
}

h3:before {
  content: '';
  width: 3rem;
  height: 1px;
  background: #aaa;
  display: block;
  margin-left: -4rem;
  margin-top: 0.7rem;
  position: absolute;
}

h4,
h4 a {
  font-family: 'sofia-pro';
  font-size: 1.2rem;
  color: #fff;
  letter-spacing: 2px;
}

p,
a,
li,
form input,
form textarea {
  font-family: 'sofia-pro';
  font-weight: 100;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #ccc;
  line-height: 1.6rem;
}

ul {
  margin: 2rem 0 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding-left: 6rem;
  margin-bottom: 1rem;
}

li:before {
  content: '';
  width: 3rem;
  height: 1px;
  background: #aaa;
  display: block;
  margin-left: -4rem;
  margin-top: 0.8rem;
  position: absolute;
}

a {
  text-decoration: none;
}

b {
  font-weight: 600;
  font-family: 'sofia-pro';
}

.hide {
  display: none;
}

/* layout */

.section {
  margin-bottom: 10rem;
}

.large {
  max-width: 90rem;
  margin: auto;
  /* border: 1px solid; */
}

.small {
  max-width: 65rem;
  margin: auto;
  /* border: 1px solid; */
}

.column {
  width: 45%;
}

/* align */

.left {
  float: left;
  display: inline-block;
}

.right {
  float: right;
  display: inline-block;
}

.center {
  margin: auto;
  text-align: center;
}

/* image */

img.cover {
  object-fit: cover;
}

/* content */

.content {
  /* margin-top: 1.5rem; */
}

.content ul img {
  width: 100%;
  opacity: 0.4;
  margin-bottom: 2rem;
  margin-top: -6rem;
}

/* four04 */

.four04 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four04 .menu,
.four04 .footer {
  display: none;
}

.four04 h1 {
  font-size: 10rem;
  height: 100%;
  line-height: 11rem;
}

.four04 h4 {
  margin-top: -6rem;
}

.four04 .center {
  max-width: 100%;
  max-height: 40rem;
}

/* responsive */

@media screen and (max-width: 1520px) {
  .large {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 15rem;
    line-height: 16rem;
    height: 15rem;
  }

  .small {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 670px) {
  h1 {
    font-size: 5rem;
    line-height: 6rem;
    height: 12rem;
    letter-spacing: 2px;
  }

  h2 {
    width: 100%;
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  ul {
    margin: 2rem 0 0;
  }

  li {
    padding-left: 3rem;
  }

  li:before {
    content: '';
    width: 2rem;
    margin-left: -3rem;
  }

  .section {
    margin-bottom: 5rem;
  }

  .column {
    width: 100%;
    display: block;
  }

  .content ul img {
    display: none;
  }

  .content ul:nth-child(1) {
    margin-top: 0;
  }

  .four04 h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .four04 h1 {
    font-size: 2rem;
    line-height: auto;
  }
}
