
/* basic */

html,
body{
  margin: 0;
  background: #1F1F1F;
  position: relative;
  z-index: -99;
  /* overflow-x: hidden; */
}

.clear{
  clear: both;
}

/* typography */

@font-face{
  font-family: 'Sofia Pro';
  src: url('/fonts/Sofia Pro Extra Light.otf');
}

@font-face{
  font-family: 'Sofia Pro Medium';
  src: url('/fonts/Sofia Pro Medium.otf');
}

@font-face{
  font-family: 'Cormorant';
  src: url('/fonts/CormorantGaramond-Light.ttf');
}

@font-face{
  font-family: 'Eloquent Pro';
  src: url('/fonts/EloquentJFCaptionPro.ttf');
}

h1{
  font-family: 'Eloquent Pro';
  font-size: 20rem;
  font-weight: 100;
  line-height: 22rem;
  letter-spacing: -0.5rem;
  color: rgba(0, 0, 0, 0.15);
  margin: 0;
  height: 20rem;
}

h2{
  max-width: 26rem;
  font-family: 'Cormorant';
  font-size: 1.7rem;
  font-weight: 100;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 2rem;
  margin: 0;
  border-bottom: 1px solid #AAA;
}

h3{
  max-width: 20rem;
  font-family: 'Sofia Pro';
  font-weight: 100;
  font-size: 1rem;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-left: 6rem;
  margin-bottom: 2rem;
}

h3:before{
  content: '';
  width: 3rem;
  height: 1px;
  background: #AAA;
  display: block;
  margin-left: -4rem;
  margin-top: 0.5rem;
  position: absolute;
}

h4,
h4 a{
  font-family: 'Sofia Pro';
  font-size: 1.2rem;
  color: #FFF;
  letter-spacing: 2px;
}

p,
a,
li,
form input,
form textarea{
  font-family: 'Sofia Pro';
  font-size: 0.9rem;
  letter-spacing: 2px;
  color: #AAA;
  line-height: 1.6rem;
}

ul{
  margin: 2rem 0 0;
  padding: 0;
  list-style-type: none;
}

li{
  padding-left: 6rem;
  margin-bottom: 1rem;
}

li:before{
  content: '';
  width: 3rem;
  height: 1px;
  background: #AAA;
  display: block;
  margin-left: -4rem;
  margin-top: 0.6rem;
  position: absolute;
}

a{
  text-decoration: none;
}

b{
  letter-spacing: 1px;
  font-family: 'Sofia Pro Medium';
}

.hide {
  display: none;
}

/* layout */

.section{
  margin-top: 10rem;
}

.large{
  max-width: 90rem;
  margin: auto;
  /* border: 1px solid; */
}

.small{
  max-width: 65rem;
  margin: auto;
  /* border: 1px solid; */
}

.column{
  width: 45%;
}

/* align */

.left{
  float: left;
  display: inline-block;
}

.right{
  float: right;
  display: inline-block;
}

.center{
  margin: auto;
  text-align: center;
}

/* image */

img.cover{
  object-fit: cover;
}

/* content */

.content{
  margin-top: 1.5rem;
}

.content ul img{
  width: 100%;
  opacity: 0.6;
  margin-bottom: 2rem;
  margin-top: -6rem;
}

/* four04 */

.four04{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.four04 .menu,
.four04 .footer{
  display: none;
}

.four04 h1{
  font-size: 10rem;
  height: 100%;
  line-height: 11rem;
}

.four04 h4{
  margin-top: -6rem;
}

.four04 .center{
  max-width: 100%;
  max-height: 40rem;
}

/* responsive */

@media screen and (max-width: 1520px){
  .large{
    padding: 0 2rem;
  }
}

@media screen and (max-width: 1050px){
  h1{
    font-size: 15rem;
    line-height: 16rem;
    height: 15rem;
  }

  .section{
    margin-top: 7rem;
  }

  .small{
    padding: 0 2rem;
  }
}

@media screen and (max-width: 670px){
  h1{
    font-size: 5rem;
    line-height: 6rem;
    height: 12rem;
    letter-spacing: 2px;
  }

  h2{
    font-size: 1.3rem;
  }

  h3{
    font-size: 0.8rem;
  }

  ul{
    margin: 2rem 0 0;
  }

  li{
    padding-left: 3rem;
  }

  li:before{
    content: '';
    width: 2rem;
    margin-left: -3rem;
  }

  .section{
    margin-bottom: 3rem;
  }

  .column{
    width: 100%;
    display: block;
  }

  .content ul img{
    display: none;
  }

  .content ul:nth-child(1){
    margin-top: 0;
  }

  .four04 h1{
    font-size: 6rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 500px){
  .four04 h1{
    font-size: 2rem;
    line-height: auto;
  }
}
